FRONTEND_AMPLIFY_ACCESS_TOKEN=ghp_tu_token_aqui
FRONTEND_REPO_URL=https://github.com/Lazheart/MakeShop
FRONTEND_BRANCH_NAME=main
OPENSTORE_KEY_NAME=makeshop-key-CHANGE_ME
AWS_ACCESS_KEY_ID=ASIAEXAMPLE
AWS_SECRET_ACCESS_KEY=secretkeyexample
AWS_SESSION_TOKEN=sessiontokenexample # Requerido si tu AWS_ACCESS_KEY_ID empieza con ASIA
AWS_REGION=us-east-1
S3_BUCKET_NAME=makeshop-images-CHANGE_ME