FRONTEND_AMPLIFY_ACCESS_TOKEN=ghp_tu_token_aqui
OPENSTORE_KEY_NAME=makeshop-key-CHANGE_ME
AWS_ACCESS_KEY_ID=ASIAEXAMPLE
AWS_SECRET_ACCESS_KEY=secretkeyexample
AWS_SESSION_TOKEN=sessiontokenexample # Requerido si tu AWS_ACCESS_KEY_ID empieza con ASIA
AWS_REGION=us-east-1
VPC_ID=vpc-xxxxxxxxx # Opcional: Define tu VPC ID si no tienes VPC por defecto
S3_BUCKET_NAME=makeshop-images-CHANGE_ME